<!-- /templates/page.full-width.liquid -->

{% comment %} the following layout has been introduced to remove the header and footer on the landing page {% endcomment %}
{% layout 'theme.landing-page' %}

<a id="lp-newsletter-anchor-1"></a>

{% comment %}
  {% section 'featured-video-giveaway' %}
  {% section 'newsletter-giveaway-lp-1' %} 
{% endcomment %}

<div id="fd-form-5fa28df876d8d61f8fcf1270"></div>
<script>
  window.fd('form', {
    formId: '5fa28df876d8d61f8fcf1270',
    containerEl: '#fd-form-5fa28df876d8d61f8fcf1270'
  });
</script>

<div style="margin-top:20px">
  <h2 class="h1 section-header__title text-center">
    What's so special about the Empower Bra?
  </h2>
</div>

{% section 'featured-row-giveaway-lp-3' %}
{% section 'featured-row-giveaway-lp-4' %}

<a id="lp-newsletter-anchor-2"></a>

<div id="fd-form-5fa28df876d8d61f8fcf1270-dup"></div>
<script>
  window.fd('form', {
    formId: '5fa28df876d8d61f8fcf1270',
    containerEl: '#fd-form-5fa28df876d8d61f8fcf1270-dup'
  });
</script>

{% comment %}
  {% section 'newsletter-giveaway-lp-2' %} 
{% endcomment %}


