<!-- /templates/page.full-width.liquid -->
{% comment %}
  <header class="section-header text-center">
    <h1>{{ page.title }}</h1>
  </header>
{% endcomment %}

{% comment %} the following layout has been introduced to remove the header and footer on the landing page {% endcomment %}
{% layout 'theme.landing-page' %}

<a id="lp-newsletter-anchor-1"></a>

{% section 'featured-video-giveaway' %}

{% comment %}
  {% section 'newsletter-giveaway-lp-1' %} 
{% endcomment %}

<div id="fd-form-5fa28745692a71e809045a09"></div>
<script>
  window.fd('form', {
    formId: '5fa28745692a71e809045a09',
    containerEl: '#fd-form-5fa28745692a71e809045a09'
  });
</script>

{% section 'featured-row-givewaway-lp-2' %}
{% section 'featured-row-giveaway-lp-1' %}

<a id="lp-newsletter-anchor-2"></a>

<div id="fd-form-5fa28745692a71e809045a09-dup"></div>
<script>
  window.fd('form', {
    formId: '5fa28745692a71e809045a09',
    containerEl: '#fd-form-5fa28745692a71e809045a09-dup'
  });
</script>

{% comment %}
  {% section 'newsletter-giveaway-lp-2' %} 
{% endcomment %}


